@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

   
    <a asp-action="AddMovies"> Add a movie to his collection</a>
    <p>Learn about <a href="https://baconsale.com/">Joel. </a> Maybe the favorite child?</p>
    <a href="https://baconsale.com/"><img class="img-thumbnail" src="~/JoelHilton.jpg" /> </a>

</div>