@{
    ViewBag.Title = "My Podcast";
}



<h1 class="title text-center">@ViewBag.Title</h1>
<div class="text-center">
    <a href="https://baconsale.com/">Bacon Sale Podcast</a>
   
</div>
<div class="text-center">
    <a href="https://baconsale.com/"><img class="img-thumbnail" src="~/baconsale.jpg" /></a>
</div>